backcall==0.2.0
certifi==2020.6.20
cffi==1.14.3
cryptography==3.1.1
cycler==0.10.0
decorator==4.4.2
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
kiwisolver==1.2.0
matplotlib==3.3.2
numpy==1.19.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.7
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.7.1
pyparsing==3.0.0a2
python-dateutil==2.8.1
PyX==0.15
scapy==2.4.4
six==1.15.0
traitlets==5.0.4
wcwidth==0.2.5
